In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import pandas as pd

In [6]:
df_0 = pd.read_csv('datasets_naevus.csv')

In [7]:
df_1 = pd.read_csv('datasets_melanoma.csv')

In [9]:
df_0.head()

  color   entropy         img  kp    max        mean    min        std     sum
0   red  3.875243  132357.jpg   0  223.0  149.142857  113.0  27.765049  7308.0
1   red  3.867618  132357.jpg   1  228.0  161.714286  107.0  35.600963  7924.0
2   red  3.879235  132357.jpg   2  235.0  170.897959  138.0  27.575681  8374.0
3   red  3.867316  132357.jpg   3  221.0  153.265306  109.0  34.291533  7510.0
4   red  3.876596  132357.jpg   4  225.0  154.959184  120.0  27.737074  7593.0

In [10]:
df_1.head()

  color   entropy         img  kp    max        mean    min        std     sum
0   red  3.859623  154372.jpg   0  255.0  184.061224   92.0  45.726520  9019.0
1   red  3.857507  154372.jpg   1  255.0  181.816327   99.0  46.898794  8909.0
2   red  3.848710  154372.jpg   2  255.0  177.673469   89.0  51.104690  8706.0
3   red  3.864296  154372.jpg   3  255.0  195.591837  105.0  45.026939  9584.0
4   red  3.864453  154372.jpg   4  255.0  195.632653  116.0  45.030463  9586.0